<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="home" text="Back"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-card>
    <ion-card-header>
      <ion-card-subtitle>The Dark Knight</ion-card-subtitle>
      <ion-card-title>Batman</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      Batman is a fictional superhero appearing in American comic books published by DC Comics.
      The character was created by artist Bob Kane and writer Bill Finger and first appeared
      in Detective Comics #27 in 1939.
    </ion-card-content>
  </ion-card>

  <ion-button expand="block" color="dark">Button 1</ion-button>
  
  <ion-button color="danger">
    Button 2
    <ion-icon slot="end" name="logo-playstation"></ion-icon>
  </ion-button>
  
  <ion-button color="success" size="large">
    Button 3 <ion-icon slot="end" name="logo-android"></ion-icon>
  </ion-button>

  <ion-badge>7</ion-badge>
  <ion-badge color="primary">14</ion-badge>
  <ion-badge color="secondary">21</ion-badge>
  <ion-badge color="tertiary">28</ion-badge>
  
  <ion-fab-button color="light">
    <ion-icon name="logo-game-controller-b"></ion-icon>
  </ion-fab-button>
 
  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button>
      <ion-icon name="arrow-dropleft"></ion-icon>
    </ion-fab-button>
    <ion-fab-list side="start">
      <ion-fab-button>
        <ion-icon name="logo-playstation"></ion-icon>
      </ion-fab-button>
      <ion-fab-button>
        <ion-icon name="logo-xbox"></ion-icon>
      </ion-fab-button>
      <ion-fab-button>
        <ion-icon name="logo-windows"></ion-icon>
      </ion-fab-button>
      <ion-fab-button>
        <ion-icon name="logo-apple"></ion-icon>
      </ion-fab-button>
    </ion-fab-list>
  </ion-fab>

</ion-content>