<ion-header>
  <ion-toolbar>
    <ion-title>
      FlashLight
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-button expand="block" color="dark" (click)='flash()'><ion-icon name="flashlight" slot="end"></ion-icon></ion-button>
</ion-content>
