<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="home" text="Back"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-card>
    <ion-card-content *ngIf="user">
      {{user.name}}
      <ion-img [src]="user.avatar_url"></ion-img>
    </ion-card-content>
  </ion-card>
</ion-content>
