<ion-header>
  <ion-toolbar>
    <ion-back-button defaultHref="home" text="Back"></ion-back-button>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-input placeholder="Type something"></ion-input>
  <ion-input type="number" value="333"></ion-input>
  <ion-input value="Disabled" disabled></ion-input>
  <ion-input value="Readonly" readonly></ion-input>
  
  <ion-item>
    <ion-label>Default Label</ion-label>
    <ion-input></ion-input>
  </ion-item>
  
  <ion-list>
    <ion-radio-group>
      <ion-list-header>
        <ion-label>Pizza</ion-label>
      </ion-list-header>
      <ion-item>
        <ion-label>Pepperoni</ion-label>
        <ion-radio slot="start" value="biff" checked></ion-radio>
      </ion-item>
      <ion-item>
        <ion-label>Hawaian</ion-label>
        <ion-radio slot="start" value="griff"></ion-radio>
      </ion-item>
      <ion-item>
        <ion-label>Mexican</ion-label>
        <ion-radio slot="start" value="buford"></ion-radio>
      </ion-item>
    </ion-radio-group>
  </ion-list>
  
  <ion-item>
    <ion-label>Super Hero</ion-label>
    <ion-select value="bt" okText="Okay" cancelText="Dismiss">
      <ion-select-option value="bt">Batman</ion-select-option>
      <ion-select-option value="im">Iron Man</ion-select-option>
      <ion-select-option value="sm">Spider Man</ion-select-option>
      <ion-select-option value="ca">Captain America</ion-select-option>
    </ion-select>
  </ion-item>
  
  <ion-list>
    <ion-list-header>Multiple Selection</ion-list-header>
    <ion-item>
      <ion-label>Ingredients</ion-label>
      <ion-select multiple="true" cancelText="Nah" okText="Okay!">
        <ion-select-option value="bacon">Bacon</ion-select-option>
        <ion-select-option value="olives">Black Olives</ion-select-option>
        <ion-select-option value="xcheese">Extra Cheese</ion-select-option>
        <ion-select-option value="peppers">Green Peppers</ion-select-option>
        <ion-select-option value="mushrooms">Mushrooms</ion-select-option>
        <ion-select-option value="onions">Onions</ion-select-option>
        <ion-select-option value="pepperoni">Pepperoni</ion-select-option>
        <ion-select-option value="pineapple">Pineapple</ion-select-option>
        <ion-select-option value="sausage">Sausage</ion-select-option>
        <ion-select-option value="Spinach">Spinach</ion-select-option>
      </ion-select>
    </ion-item>
  </ion-list>
  
  <ion-toggle color="dark"></ion-toggle>
  
  <ion-item>
    <ion-label>Switch</ion-label>
    <ion-toggle [(ngModel)]="switch"></ion-toggle>
  </ion-item>
  
  <ion-item>
    <ion-label>Blocked switch</ion-label>
    <ion-toggle [(ngModel)]="bswitch" disabled="true"></ion-toggle>
  </ion-item>
  
  <ion-list>
    <ion-list-header>
      <ion-label>My favorite Food</ion-label>
    </ion-list-header>
    <ion-item>
      <ion-checkbox color="primary"></ion-checkbox>
      <ion-label>Milk</ion-label>
    </ion-item>
    <ion-item>
      <ion-checkbox color="secondary"></ion-checkbox>
      <ion-label>Eggs</ion-label>
    </ion-item>
    <ion-item>
      <ion-checkbox color="danger"></ion-checkbox>
      <ion-label>Flour</ion-label>
    </ion-item>
  </ion-list>
  
  <ion-item>
    <ion-label>Date</ion-label>
    <ion-datetime display-format="MMM DD, YYYY HH:mm"></ion-datetime>
  </ion-item>

</ion-content>