<ion-header>
  <ion-toolbar>
    <ion-title>
      GitHub Search
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>

  <ion-item>
    <ion-label position="floating">User Name</ion-label>
    <ion-input [(ngModel)] = "usuario"></ion-input>
  </ion-item>
  <br>
  <br>
  <ion-button expand="block" color="dark" (click)='searchUser(usuario)'>Search<ion-icon name="search" slot="end"></ion-icon>
  </ion-button>

</ion-content>