<ion-header>
  <ion-toolbar>
    <ion-back-button defaultHref="home" text="Back"></ion-back-button>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  
  <ion-list>
    <ion-list-header>
      <ion-label>My favorite Games</ion-label>
    </ion-list-header>
    <ion-item>
      <ion-avatar>
        <img src="https://i.blogs.es/05bb69/aciv/450_1000.jpg">
      </ion-avatar>
      <ion-label>Assassin´s Creed</ion-label>
    </ion-item>
    <ion-item>
      <ion-avatar>
        <img
          src="https://cnet4.cbsistatic.com/img/TDMbegZ9XXt7MBekzQuTcK_wGBw=/830x467/2015/06/14/8351c430-f382-4bae-b7d7-ef2938d29730/batman-arkham-knight-screen.jpg">
      </ion-avatar>
      <ion-label>Batman Arkham Series</ion-label>
    </ion-item>
    <ion-item>
      <ion-avatar>
        <img
          src="https://psmedia.playstation.com/is/image/psmedia/uncharted-3-drakes-deception-remastered-listing-thumb-01-ps4-eu-28sep16?$Icon$">
      </ion-avatar>
      <ion-label>Uncharted Series</ion-label>
    </ion-item>
  </ion-list>
  
  <ion-list>
    <ion-list-header>
      <ion-label>My favorite Food</ion-label>
    </ion-list-header>
    <ion-item>
      <ion-label>Pizza</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>Tacos</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>Corundas</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>Wings</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>Enchiladas</ion-label>
    </ion-item>
  </ion-list>

</ion-content>