<ion-header>
  <ion-toolbar>
    <ion-title>
      HW1 - Components and Routing
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-button routerLink="/home/general" expand="block">General</ion-button>
  <br>
  <ion-button routerLink="/home/lists" expand="block">Lists</ion-button>
  <br>
  <ion-button routerLink="/home/inputs" expand="block">Inputs</ion-button>
</ion-content>
